duckdb
dbt-duckdb
# Jupyter magic
ipython-sql
SQLAlchemy
duckdb-engine
# nice CLI for duckdb
duckcli
# standard stuff
numpy
scipy
pandas
jupyter
matplotlib
plotly
seaborn
# dagster
dagster
dagit
dagster-dbt
dagster-duckdb
dagster-duckdb-pandas
requests


